.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
  padding: 0px 50px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  padding: 0px 50px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 20px;
  padding: 5px;
  width: 200px;
}

.res-card:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
